body {

   }

#main_grid {

}


.keys {
    
    display:grid;
    grid-template-columns:10px 1fr 1fr 1fr 10px; /* 3 columns @ 1 fraction of grid size*/
    grid-template-rows: 1fr 1fr 1fr; /* 3 rows @ 1 fraction of grid size*/
    gap: 10px 15px;;
    background-color: black;
    text-align:center;
}

.key {
    background-color:white;
    border-radius: 25%;
    margin: 10px;
}

   /*
.keys {
    margin-top:33%;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    flex-direction: row;
}

.key{
    width: 40px;
    height: 40px;
    text-align:center;
    border-style:dashed;
    border-color:black;

}
*/