body {

   }

#main_grid {
    display:grid;
    
}


.keys_grid {
    
    background-color:black;
    text-align:center;
}

.key {
    background-color:white;
    border-radius: 25%;
    margin: 10px;
}

   /*
.keys {
    margin-top:33%;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    flex-direction: row;
}

.key{
    width: 40px;
    height: 40px;
    text-align:center;
    border-style:dashed;
    border-color:black;

}
*/